@media only screen and (min-width: 320px) and (max-width : 415px) {

.gestion { left: 5% !important;}

h1 { font-size: 1.9rem !important;}

.refreshIcon { margin-left: 43.5% !important;}

.table {  width: 250% !important; max-width: 300% !important; }

.table thead tr th { width: 17% !important;}

.modal-open .modal2 { top: 0% !important; }

#form-modal .modal-dialog { margin: 0rem auto !important; }

.procesos { width: 87% !important; top: 19% !important; height: 59% !important; margin-left: 7% !important; }

.bordesPreguntas { height: 207px !important; font-size: 13px !important;}

.uploadIcon { left: 86% !important; margin-top: 7% !important; }

.evidenciaFile { position: absolute !important; top: 86% !important; font-size: 9pt !important; }

#cabeceraUsuario { top: 21% !important; left: 10% !important; }

.procesos { width: 87% !important; top: 26% !important; height: 53% !important;}

#cabeceraUsuario .refreshIcon { margin-left: 60.5% !important; }

.card-body-plan { height: 96px !important; }

.card-title { font-size: 21px !important; }

.card-text {  font-size: 16px !important; width: 82% !important; }

.card-title-plan { margin-left: -85% !important; font-size: 16px !important; }

.tooltip8 .tooltiptext { width: 83px !important; font-size: 10pt !important; left: 16% !important; }

.tooltip9 .tooltiptext { width: 88px !important; font-size: 10pt !important; left: -12% !important; bottom: -58% !important; }

.iconProcedimiento { margin-left: 88% !important; margin-top: -40% !important; width: 12% !important; }

.modal-footer .iconSeguir { width: 46% !important; }

.tooltip18 .tooltiptext { width: 107px !important; font-size: 10pt !important; left: 99% !important; bottom: -22% !important;}

.tooltip19 .tooltiptext { width: 107px !important; font-size: 10pt !important; left: 547% !important; bottom: -22% !important;}

}

@media (min-width: 1200px) and (max-width:  1299px){

.refreshIcon { margin-left: 61.5% !important;}

.table thead tr th { width: 17% !important;}

#form-modal .modal-dialog { margin: -1rem auto !important; }

.procesos { margin-top: 2% !important; height: 50% !important; }

.evidenciaFile { position: absolute !important; top: 90% !important; font-size: 10pt !important; }

.bordesPreguntas { height: 207px !important; font-size: 14px !important;}

.uploadIcon { left: 86% !important; margin-top: 1% !important; }

#cabeceraUsuario { top: 20% !important; left: 8% !important; }

#cabeceraUsuario .refreshIcon { margin-left: 76.5% !important;}

.procesos { width: 87% !important; top: 27% !important; height: 53% !important;}

.iconProcedimiento { margin-left: 209% !important; margin-top: -18% !important; width: 12% !important; }

.tooltip13 .tooltiptext { width: 130px !important; left: -27% !important; }

}

@media (min-width: 1300px) and (max-width:  1900px){

.refreshIcon { margin-left: 61.5% !important;}

.table thead tr th { width: 17% !important;}

#form-modal .modal-dialog { margin: -1rem auto !important; }

.procesos { margin-top: 2% !important; height: 50% !important; }

.evidenciaFile { position: absolute !important; top: 90% !important; font-size: 10pt !important; }

.bordesPreguntas { height: 207px !important; font-size: 14px !important;}

.uploadIcon { left: 86% !important; margin-top: 1% !important; }

#cabeceraUsuario { top: 20% !important; left: 8% !important; }

#cabeceraUsuario .refreshIcon { margin-left: 76.5% !important;}

.procesos { width: 87% !important; top: 27% !important; height: 53% !important;}

.iconProcedimiento { margin-left: 209% !important; margin-top: -18% !important; width: 12% !important; }

.tooltip13 .tooltiptext { width: 130px !important; left: -27% !important; }

}

.formmodal-container {
  padding: 15px;
  max-width: 600px;
  width: 100% !important;
  background-color: #EDE7F6;
  margin-top: 4rem;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
}


.evidenciaFile {
  color: #4527a0;
  padding-bottom: 3%;
  font-weight: bold;
  opacity: 1;
}

.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
  display: block;
}

.formmodal-container input[type=text]{
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=number]{
  height: 30px;
  font-size: 14px;
  width: 30%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=date] {
  height: 30px;
  font-size: 14px;
  width: 36%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container textarea {
  height: 60px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


select, select option{
  width: 90% !important;
  font-family: Roboto;
}

select option:checked{
  background-color: #B39DDB !important;
  font-weight: bold;
  color:  #ffffff;
}

.preguntaCheck{
  margin-bottom: 1rem;
}

/********* ICONOS ***********/

.btn-reactivar{
  background-color: #4527A0;
  color:  #ffffff;
  text-align: center;
  border: 2px solid #4527A0 !important;
}

.cabecera {
  position:  fixed;
  top: 12%;
  left: 6%;
  width: 100%;
}

#cabeceraUsuario {
  position:  fixed;
  top: 14%;
  left: 7%;
  width: 100%;
}

.cabeceraEliminados {
  position:  fixed;
  top: 13%;
  left: 6%;
  width: 100%;
}

.refreshIcon {
  margin-left: 65%;
}

.anterior {
  position: fixed;
  bottom: 10%;
  left: 45%;
  width: 3%;
  z-index: 2000;
}

.siguiente {
  position: fixed;
  bottom: 10%;
  left: 52%;
  width: 3%;
  z-index: 2000;
}

.iconoSiguiente, .iconoAnterior {
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
}

.borrarIcon {
  left: 94%;
  top: -39%;
}

.iconoBorrar {
  width: 7%;
}

.iconoAddObjetivoPlan {
  width: 9%;
}

.uploadIcon {
  left: 88%;
  margin-top: -6%;
  position: absolute;
  cursor: pointer;
}

.iconoUpload {
  width: 51%;
}

.iconProcedimiento {
  margin-left: 291%;
  margin-top: -18%;
  width: 10%;
  cursor: pointer;
  display: inline;
}

.iconPlan {
  width: 8%;
  display: inline;
  margin-left: 3%;
  margin-top: -0.5%;
  cursor: pointer;
}

.seguir {
  width: 30%;
  left: -18%;
}

.iconSeguir {
    width: 30% !important;
    left: 85%;
}

#cabeceraUsuario .refreshIcon {
  margin-left: 76%;
}

/*********** PROCESOS ****************/

.procesos {
  width: 70%;
  height: 65%;
  position: fixed;
  top: 18%;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 5%;
  margin-left: 15%;
}

.padding{
  padding-top: 1%;
}

.bordesPreguntas {
  border: 2px solid #B39DDB;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 0%;
  padding-left: 2%;
}

.ordenProceso, .nombreProceso {
  display: inline;
  color: #4527a0;
  font-weight: bold;
}

.respuestas {
  padding-top: 2%;
}

.evidencia {
  height: 25px;
  margin-bottom: 3%;
}

/************ OBJETIVOS NIVELES ***********/

.objetivosNiveles {
  width: 100%;
  height: 170px;
  border: 2px solid #4527a0;
  padding: 3%;
  margin-bottom: 2%;
}

#objetivosNiveles {
  overflow-x: hidden;  
  overflow-y: auto;
  height: 180px;
  margin-bottom: 2%;
}

.procedimientosOrden {
  width: 100%;
  height: 170px;
  border: 2px solid #4527a0;
  padding: 3%;
  margin-bottom: 2%;
}

.respuestaPosible {
  width: 100%;
  height: 90px;
  border: 2px solid #4527a0;
  padding: 3%;
  margin-bottom: 4%;
  overflow-x: hidden;  
  overflow-y: auto;
}

#procedimientosOrden {
  height: 180px;
  overflow-x: hidden;  
  overflow-y: auto;
  margin-bottom: 2%;
}

.opcionesProcedimientoObjetivoRespuestas {
  height: 400px;
  overflow-x: hidden;  
  overflow-y: auto;
  margin-bottom: 2%;
}

.modal-dialog {
  margin: 6rem auto !important; 
}

.respuestas label {
  padding-left: 1%;
}

.procesos {
  width: 83%;
  height: 61%;
  position: fixed;
  top: 18%;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 5%;
  margin-left: 7%;
}

.procesos .card {
  background-color: #4527a0d1;
}

.card-body-plan {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5em;
  background-color: #e2d1fb;
  height: 70px;
  margin-bottom: 0.2%;
}

.card-title {
  font-family: Roboto;
  color:  #4527A0;
  margin-bottom: 0rem;
  font-size: 22px;
  font-weight: bold;
}

.card-text {
  font-family: Roboto;
  font-size: 18px;
  margin-left:  2%;
}

.card-title-plan {
  font-family: Roboto;
  color:  #4527A0;
  margin-left: -29%;
  font-size: 19px;
  display: inline;
}

.card-footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5em;
  background-color: #efe5ff;
  height: 55px;
}